# lv to xbd links
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", \
        KERNEL=="dm-[0-9]*", ENV{DM_NAME}=="?*", \
        PROGRAM="xbd", SYMLINK+="xbd/$result"

# iscsi to xbd links
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", \
        KERNEL=="sd*", ENV{ID_PATH}=="ip-?*", \
        PROGRAM="xbd", SYMLINK+="xbd/$result"

# zfs to xbd links
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", \
        KERNEL=="zd[0-9]*", \
        PROGRAM="xbd", SYMLINK+="xbd/$result"

